/* Smartphone screen */

@media (max-width: 425px) {
  /* General */
  .container {
    padding: 0 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  hr {
    width: 100%;
  }

  /* Sizing */
  .w-100-sm {
    width: 100%;
  }

  /* Margin padding */
  .mr-0-sm {
    margin-right: 0;
  }

  .p-1rem-sm {
    padding: 1rem;
  }

  /* UI Elements */
  .option-card {
    width: 100%;
    max-width: auto;
    min-width: auto;
    padding: 1rem;
  }
  .form-personal-data {
    padding: 1rem;
  }

  .fade-in-animation {
    right: 0;
  }
}

/* Tablet screen */
@media (max-width: 768px) {
  /* General */
  li {
    font-size: 0.9rem;
  }

  .container {
    padding: 0 2rem;
  }

  .brand h3 {
    font-size: 1rem;
  }

  /* Display */
  .d-none-md {
    display: none;
  }

  .d-flex-col-md {
    display: flex;
    flex-direction: column;
  }

  .order-first-md {
    order: -1;
  }

  /* Maring & Padding */
  .mb-1_5-rem-md {
    margin-bottom: 1.5rem;
  }
  /* Sizing */
  .w-100-md {
    width: 100%;
  }

  /* UI Elements */
  .option-card + .option-card {
    margin-top: 0.8rem;
  }

  .option-card {
    margin-right: 0;
  }

  .calculators {
    border-right: none;
    border-bottom: 2px solid var(--color-dark);
    padding-right: 0;
  }

  .info {
    padding-left: 0;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  /* Display */
  .d-none-lg {
    display: none;
  }

  /* UI Elements */
  .option-card {
    width: 400px;
    max-width: auto;
    min-width: auto;
    padding: 2rem;
    margin-right: 1rem;
  }
}
